@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

$board-width: 350px;
$board-height: 350px;

$box-width: $board-width/3;
$box-height: $board-height/3;

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #ffe297;
    font-family: 'Comic Neue', cursive;;
}
