@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap");

$frame-color: #9b948f;
$circle-color: #d96098;
$cross-color: #24a19c;
$background-color: #faeee7;
$main-color: rgb(65, 63, 63);

// Header Styles

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: $background-color;
    font-family: "Comic Neue", cursive;
}

header {
    font-size: 3em;
    text-align: center;
    color: $main-color;
    padding: 0.5em 0em;
}

.level {
    font-size: 2em;
    text-align: center;
    color: $main-color;
    padding: 0;
}

//Board Styles

.playing {
    #LineYLeft,
    #LineYRight,
    #LineXUpper,
    #LineXLower {
        stroke: $frame-color;
    }

    #LineYLeft,
    #LineYRight {
        stroke-dasharray: 350px 350px;
        stroke-dashoffset: 350px;
        // animation: line-anim 0.5s forwards ease-in-out;
    }
    #LineXUpper,
    #LineXLower {
        stroke-dasharray: 350px 350px;
        stroke-dashoffset: 350px;
        // animation: line-anim 0.5s forwards ease-in-out;
        // animation-delay: 0.5s;
    }
}

.playing {
    .board {
        margin: 70px auto;
        position: relative;
        width: 300px;

        .boxes {
            position: absolute;
            top: 0px;
            display: grid;
            grid-template-columns: auto auto auto;

            .box {
                background-color: transparent;
                border: none;
                padding: 0px;

                &:active {
                    background-color: transparent;
                    border: none;
                }
                &:focus {
                    background-color: transparent;
                    border: none;
                }
            }
        }
        .cross {
            position: relative;
            width: 100px;
            height: 100px;

            .first {
                position: absolute;
                stroke-dasharray: 86px 86px;
                stroke-dashoffset: -86px;
                stroke: $cross-color;
            }
            .second {
                stroke: $cross-color;
                position: absolute;
                stroke-dasharray: 86px 86px;
                stroke-dashoffset: 86px;
                stroke: $cross-color;
            }
        }
        .circle {
            circle {
                stroke: $circle-color;
            }
            color: $circle-color;
            stroke-dasharray: 304.73px 304.73px;
            stroke-dashoffset: -304.73px;
        }
    }
}

.transition {
    #LineYLeft,
    #LineYRight,
    #LineXUpper,
    #LineXLower {
        stroke: $frame-color;
    }

    .board {
        margin: 70px auto;
        position: relative;
        width: 300px;

        .boxes {
            position: absolute;
            top: 0px;
            display: grid;
            grid-template-columns: auto auto auto;

            .box {
                background-color: transparent;
                border: none;
                padding: 0px;

                &:active {
                    background-color: transparent;
                    border: none;
                }
                &:focus {
                    background-color: transparent;
                    border: none;
                }
            }
        }
        .cross {
            position: relative;
            width: 100px;
            height: 100px;

            .first {
                position: absolute;
                stroke: $cross-color;
            }
            .second {
                stroke: $cross-color;
                position: absolute;
                stroke: $cross-color;
            }
        }
        .circle {
            circle {
                stroke: $circle-color;
            }
            color: $circle-color;
        }
    }
}

.line {
    box-sizing: border-box;
    margin: -378px auto;
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    padding-right: 44px;
    padding-left: 42px;

    svg {
        stroke-dasharray: 404px 404px;
        stroke-dashoffset: 404px;
        line {
            stroke: $main-color;
        }
    }

    //These property below to be changed to make it display in different row positions
    // justify-content: center;
    // transform: rotate(0deg);
}

.result {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 270px;
    font-size: 0em;
    // text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}

footer {
    background-color: rgb(37, 36, 36);
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    bottom: 0px;
    margin: 0px;
    padding: 0.8em 0;

    p {
        text-align: center;
        color: white;
        margin-bottom: .5em;
    }

    .contacts {
        display: flex;
        justify-content: center;
        a {
            padding-right: 0.8em;
            padding-left: 0.8em;
            color: white;
            text-decoration: none;

            &:hover {
                color: rgb(187, 186, 186);
            }

            i {
                padding-right: 0.3em;
            }
        }
    }
}

@keyframes line-anim {
    100% {
        stroke-dashoffset: 0px;
    }
}
